<div class="container">
<div class="row">
<div class="col-6 col-md-4"></div>

<div class="col-6 col-md-4">

	<h1> Новая статья </h1>

<%= form_for :article, url: articles_path do |f| %>
	

<div class="mb-3">
    <%= f.text_field :title, placeholder: "Заголовок", for: 'exampleDropdownFormEmail2', class: 'form-label form-control' %>
</div>	
	
<div class="mb-3">
    <%= f.text_field :text, placeholder: "Текст", for: 'exampleDropdownFormEmail2', class: 'form-label form-control' %>
</div>	

	<p>
	<%= f.submit :Submit, class: 'btn btn-success' %>
	</p>
	
<% end %>

</div>

    
<div class="col-6 col-md-4"></div>
</div>

