<div class="container">
<div class="row">
<div class="col-6 col-md-2"></div>


<div class="col-6 col-md-8">


  <div class="layer1">
    <h1>Блог</h1><br>
    <h5>Блог представляет собой интернет-дневник или онлайн журнал, куда систематически добавляются пользовательские записи, служащие его основным наполнением.

В состав записей могут входить текстовые блоки, графика, фото либо мультимедиа. Обычно записи в блогах не особо длинные, они хронологически группируются в обратной последовательности.

Особенность блогов состоит в их публичности, то есть, в наличии у них определенного круга читателей, которые могут вступать с автором в полемику, для чего есть возможность комментировать записи, либо ссылаться на них из персональных блогов.

Благодаря комментариям, пользователи могут общаться аналогично тому, как это происходит в чатах, на форумах и посредством электронной почты.

В 1999 году компания Pyra Labs из Сан-Франциско открыла сайт Blogger.com, использовавшийся в качестве первой службой для ведения блогов, предоставляемой на бесплатной основе. С тех пор популярность блогов только возрастала и набирала большую популярность среди людей.

Особенность блогов состоит в особой структуре записей, а также в принципах их размещения. Владельцу можно только идентифицироваться на сервере, и этого будет достаточно для добавления новой заметки.

Автоматически последние записи размещаются вверху страницы. Блог – это удобный инструмент для однократного заявления о чем-то, чтобы это стало известно многим. У каждого будет возможность прочитать это тогда, когда ему удобно, либо просто пропустить запись, которая ему не интересна.
<h5>


</div>

    
<div class="col-6 col-md-2"></div>

